@import "https://www.nerdfonts.com/assets/css/webfont.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.layout {
  /* padding: 45px 45px; */
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 2em;
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 2em;
  width: 100%;
}
header {
  top: 0;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 34px;
}

.logo {
  width: 40px;
  display: inline-block;
  margin-right: 15px;
}
i {
  margin-left: 6px;
}
.mts {
  color: #50b56f;
}

a {
  text-decoration: none;
}

.left-link {
  color: #576b71;
  font-weight: bold;
  font-size: 20px;
  margin-right: 30px;
}

.right-link {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: bold;
  font-size: 20px;
  margin-right: 15px;
}

/*Main*/
.main {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 40px;
}

.main-left {
  width: 50%;
}

.main-right {
  margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.heading {
  color: #262626;
  font-weight: bold;
  font-size: 50px;
}

.heading-span {
  color: #54b471;
  display: block;
}

.heading-detail {
  color: #576b71;
  font-size: 30px;
  font-weight: 500;
}

.blog-img {
  width: 400px;
  padding-left: 100px;
}

/* post-List */

.add-btn {
  margin-left: auto;
  padding: .5em 1em;
  font-size: 1.5rem;
  background-color: #50B56F;
  color: white;
  font-weight: bold;
  margin-top: 2rem;
  border: 1px solid #50B56F;
  border-radius: 6px;
  margin-bottom: 3em; 
  margin-top: 2em;
 }

.edit{
   margin-top: 1rem;
   background-color:  #50B56F;
   padding: .5em 1em;
   font-size: 1.5rem;
   font-weight: bold;
   border: 2px solid #50B56F;
   border-radius: 6px;
   color: white;
   margin-bottom: 1em; 



}
.add-btn,.edit:hover{
    background-color: white;
    color: black;
}

.post-list {
  /* background-color: #b3a7a7; */
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px 300px 70px;
}
.contant {
  /* background-color: #a3b593; */
  margin: 10px;
  border-radius: 4px;
  padding: 6px 16px;
  padding-bottom: 25px;
  transition: all ease 0.3s;
}
.title-link {
  text-decoration: none;
  color: #2b2b2b;
}
.contant:hover {
  /* background-color: #d29e9e; */
  background-color: #cee7c4;
}

.post-title {
  margin-bottom: 20px;
  color: #2a2a2a;
  font-weight: bold;
  font-size: 40px;
}
.delete-btn {
  padding: 0.25em 0.5em;
  font-size: 1rem;
  margin-top: 0.5em;
}
.modal {
  display: flex;
  flex-direction: column;
}

.model-contant {
  display: flex;
  justify-content: center;
  /* width: 50vw; */
  background-color: green;
  margin-top: 4em;
  /* height: 80vh; */
  width: 80%;
  margin: auto;
  margin-top: 10em;
  padding: 3rem;
  border-radius: 10px;
}
label {
  font-size: 1.3rem;
  font-weight: 600;
  /* margin: .4em; */
}
.add-head {
  font-size: 2rem;
  padding: 0.5em;
}

.add-title,
.add-body {
  padding: 0.8em;
  border-radius: 6px;
  margin: 0.25em;
  font-size: 1.2rem;
  margin-bottom: 1.4em;
}
/* input{
    margin-bottom: 22em ;
} */
.buutons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.save,
.delete {
  padding: 1em 2em;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
}

/* post detail */
.post-detail {
  color: #576b71;
  font-size: 20px;
  margin-bottom: 40px;
}

.detail-section {
  /* display: flex; */
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: auto;
}
.head {
margin-top: 0px;
  text-align: center;
  margin-bottom: 60px;
  font-size: 60px;
}
.btn {
  padding: 10px 20px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
}

.detail {
  text-align: center;
  font-size: 1.5rem;
}

/* footer */
footer {
}
.footer {
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  /* margin-left: 500px; */
  bottom: 0;
  padding: 2em 0 2em 0;
}

.top {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.top h2 {
  margin-right: 30px;
  font-size: 2rem;
}

.more {
  color: #50b56f;
}
.btn-archive {
  font-size: 1rem;
  padding: 6px 15px;
  border: 2px solid #54b471;
  border-radius: 20px;
  color: #54b471;
  background-color: #fff;
}

.social {
  display: flex;
}

.social i {
  margin-right: 10px;
}

/* feDiffuseLightingete */

.delete-btn {
  background-color: #895050;
  padding: 0.5em 1em;
  margin-right: 6px;
  border-radius: 6px;
}
.confirmation {
  margin-top: 1em;
  color: red;
}

/* loding */

.loader {
  /* display: block;
 margin: auto;
 text-align: center;
 height: 100vh;
 margin-top: 40vh; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%) ;

  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
.loader {
  text-align: center;

  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* form data */

.main-form {
  /* background-color: #8a5252; */
  width: 50%;
  margin: auto;
}

.form {
  font-family: "Roboto", sans-serif;

  margin: auto;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #deb4b4; */
  width: 80%;
  border: 2px solid rgb(22, 11, 11);
  border-radius: 6px;
  padding: 1rem;
}

label {
  font-size: 1.5rem;
}
.title1 {
  /* height: 1.5em; */
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 700;

  border-radius: 8px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.body1 {
  margin-top: 1rem;
  border-radius: 8px;
  height: 150px;
  padding: 0.5em;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.userId1 {
  padding: 1em;
  margin-bottom: 2rem;
}

.update-btn button {
  padding: 0.5em 1em;
  width: 100%;
}
label{
    color: #54b471;
}